################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LotteryNumberGenerator/v16
/LotteryNumberGenerator/bin/Debug
/LotteryNumberGenerator/obj/Debug
